<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- lesson 6c - using musicPlayer.properties with key=value -->
    <!-- importing this file in appContext-->
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean" class="ie.yyyura.springfw.MusicRock"/>

    <bean id="playerBean" class="ie.yyyura.springfw.Player">
        <property name="musicSetter" ref="musicBean"/>

        <!-- ${} we can get value by key-->
        <property name="name" value="${player.name}"/>
        <property name="volume" value="${player.volume}"/>

    </bean>

</beans>








