<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- sozdajetsja Object(Bean) musiki - mozhno menjat Rock ili Klassik prjamo zdesj-->
    <!-- No Re-Compiling needed, no code Change needed -->
    <!-- Compiling is the transformation from Source Code (human readable) into machine code (computer executable).-->
    <bean id="musicBean" class="ie.yyyura.springfw.MusicRock"></bean>

    <!-- lesson 5-->
    <bean id="playerBean" class="ie.yyyura.springfw.Player">
        <constructor-arg ref="musicBean"/>
    </bean>

</beans>








